{% extends 'factures/base.html' %}
{% block title %}Supprimer{% endblock %}

{% block content %}
<div class="mt-4">
  <h2 class="h4 text-danger">Supprimer la facture</h2>
  <p>Es-tu sûr de vouloir supprimer la facture <strong>{{ facture }}</strong> ?</p>

  <form method="post" class="d-inline">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Oui, supprimer</button>
  </form>
  <a href="{% url 'detail_facture' facture.id %}" class="btn btn-secondary">Annuler</a>
</div>
{% endblock %}
